:host {
  display: block;
  /* max-width: var(--column-width); */
  text-align: left;
  font-size: var(--base-font-size);
  font-family: Verdana;
  margin: 0 auto;
  text-rendering: geometricPrecision;

  --margin-top-img-sibling: -2.4px;
  --column-count: 1;
  --column-width: 400px;
  --column-gap: calc(var(--base-font-size) * 2.75);
  --base-font-size: 12px;
  --max-width-1-column: calc(var(--column-width) * 1 + 2.75em * 0);
  --max-width-2-column: calc(var(--column-width) * 2 + 2.75em * 1);
  --max-width-3-column: calc(var(--column-width) * 3 + 2.75em * 2);
  --max-width-4-column: calc(var(--column-width) * 4 + 2.75em * 3);
}

:host article {
  width: 100%;
  margin: 0 auto;
  column-count: var(--column-count);
  column-width: var(--column-width);
  column-gap: var(--column-gap);
  line-height: calc(var(--base-font-size) * 1.2);
  background-image:repeating-linear-gradient(to bottom, transparent 0 calc(calc(var(--base-font-size) * 1.2) - 1px), #ccc calc(calc(var(--base-font-size) * 1.2) - 1px) calc(var(--base-font-size) * 1.2))
}

:host([text-align="left"]) {
  text-align: left;
}

:host([text-align="justify"]) {
  text-align: justify;
}

:host([column-count="1"]) article {
  --column-count: 1;
}

:host([column-count="2"]) article {
  --column-count: 2;
}

:host([column-count="3"]) article {
  --column-count: 3;
}

:host([column-count="4"]) article {
  --column-count: 4;
}

::slotted(*) {
  margin: 0;
  padding: 0;
}

::slotted(p) {
  font-size: 1em;
  margin-bottom: 1.2em;
  hyphens: auto;
}

::slotted(h1) {
  font-size: calc(var(--base-font-size) * 3);
  line-height: calc(var(--base-font-size) * 1.2 * 2);
  margin-bottom: calc(var(--base-font-size) * 1.2);
}

::slotted(h2) {
  font-size: calc(var(--base-font-size) * 2);
  line-height: calc(var(--base-font-size) * 1.2 * 1);
  margin-bottom: calc(var(--base-font-size) * 1.2);
}